{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
	<h1>{{ compliment }}, {{ session['logged_in'] }}!</h1>
	<form action="/process_categories">Please select the category(ies) that your giving post matches:<br>
		{% for category in categories%}
			<input type="checkbox" name="category" value="{{category.category_id}}" class="category"> {{category.category_name}}<br>
		{% endfor %}
		<input name="categories" type="submit" value="Tag my Post!">
		<button id="ourButton" type="button"> Save Your Categories! </button>
	</form>

	<script type="text/javascript">
		$('#ourButton').on('click', function() {
			var disabled_value = $('.category').prop('disabled');
			$('.category').prop('disabled', !disabled_value);
		});
	</script>
{% endblock %}