<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<ul>
        {% for message in get_flashed_messages() %}
        	<li>{{ message }}</li>
        {% endfor %}
	</ul>

	 <div>
            {% if 'logged_in' in session %}
            <form action="/log_out">
                Would you like to logout?
                <input type="submit" value="Logout">
            </form>
            {% endif %}
	</div>
    <script
      src="http://code.jquery.com/jquery-3.2.1.slim.js"
      integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
      crossorigin="anonymous"></script>
    {% block content %}BODY CONTENT GOES HERE{% endblock %}
    
</body>
</html>