<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        #post_message {
            height: 300px;
            width: 800px;
        }
        .category_tag {
           border: 1px solid red;
           padding: 2px; 
           margin: 5px;

        #post_title {
            width: 800px;
        }
        }
    </style>
</head>
<body>
	<ul>
        {% for message in get_flashed_messages() %}
        	<li>{{ message }}</li>
        {% endfor %}
	</ul>

	 <div>
        {% if 'logged_in' in session %}
        <form action="/log_out">
            Would you like to logout?
            <input type="submit" value="Logout">
        </form>
        {% endif %}
	</div>
        {% if 'logged_in' in session %}
        <a href="/user_home">Return to my Homepage</a>
        {% endif %}
    <div>

    
    {% block content %}BODY CONTENT GOES HERE{% endblock %}

</body>
</html>