{% extends 'base.html' %}
{% block title %}Browsing Page{% endblock %}

{% block content %}

	{% if 'logged_in' in session %}
		<div id="pre_filter">
			{% if post_type == "get" %}
				<h1>Here are some recommended posts for you based on your selected categories of interest!</h1>
				{% for match_give_obj in match_give_objs %}
					<a href="/post/post_id/{{ match_give_obj.post_id }}">
					{% if match_give_obj.title == None %}
					Untitled by user: {{ match_give_obj.user.username }}</a><br>
					{% else %} 
					{{ match_give_obj.title }} by user: {{ match_give_obj.author.username }}</a><br> 
					{% endif %}
				{% endfor %}
					<br>
			{% else %}
				<h1>Welcome to the browsing section, {{ session['logged_in'] }}! What would you like to see today?</h1>
			{% endif %}
			<h4>Filter Search By:</h4>
			<form id="filter" action="/filter_search">
				Post Type of Interest:<input class="type" type="radio" name="post_type" value="give">Give
									  <input class="type" type="radio" name="post_type" value="get">Get
									  <input class="type" type="radio" name="post_type" value="all" checked="checked">All<br>
				Location by address:<input name="location" id="location_search" type="text"><br>
				Keyword:<input name="keyword" id="keyword_search" type="text"><br>
				Category Type(s):<br>
				{% for category in categories %}
					<input type="checkbox" name="category" value="{{category.category_id}}" class="category">{{category.category_name}}<br>
				{% endfor %}
				<input id="filter_search" type="submit" value="Filter My Search!">
			</form>
		</div>
		<div id="post_filter">
			<h1>Here are all of the posts that match your interests:</h1>
		</div>
	{% endif %}
<!-- 
	<h4>Here are all the give posts:</h4>
	{% for give_post in give_post_objs %}
		<span><a href="/post/post_id/{{ give_post.post_id }}">{{ give_post.title }}</a></span><br>
	{% endfor %}
	<h4>Here are all the get posts:</h4>
	{% for get_post in get_post_objs %}
		<span><a href="/post/post_id/{{ get_post.post_id }}">{{ get_post.title }}</a></span><br>
	{% endfor %} -->

	<script>

	$('#post_filter').hide();

	function filterSearch(evt) {
		evt.preventDefault();
		$('#pre_filter').hide();
		$('#post_filter').show();
		var postType = $('.type').val();
		var keyword = $('#keyword_search').val();
		var address = $('#location_search').val();
		var categories = $('input:checked').map(function () {
		     return $(this).val(); 
		 }).get(); // upon second look - no idea what the preceding actually does
		console.log(categories)
		var data = {post_type : postType,
					keyword : keyword,
					categories : categories};
		$.get("/filter_search", data, function(results) {
			console.log(results['results']);
			var postings = results['results'];
			for (posting of postings) {
				console.log(posting);
				console.log(posting.title);
				$('#post_filter').append("<span>" + "<a href='/post/post_id/" + posting.post_id + "'>" + posting.title + "</a>" + "</span>" + "<br>");
			}
		})
	}

	$('#filter').on('submit', filterSearch);

	</script>
		
{% endblock %}