{% extends 'base.html' %}
{% block title %}Browsing Page{% endblock %}

{% block content %}

{% if 'logged_in' in session %}
	{% if post_type == "get" %}
		<h1>Here are some recommended posts for you based on your selected categories of interest!</h1>
		{% for match_give_obj in match_give_objs %}
			<a href="/post/post_id/{{ match_give_obj.post_id }}">
			{% if match_give_obj.title == None %}
			Untitled by user: {{ match_give_obj.user.username }}</a><br>
			{% else %} 
			{{ match_give_obj.title }} by user: {{ match_give_obj.post_give_user.username }}</a><br> 
			{% endif %}
		{% endfor %}
			<br>
	{% else %}
		<h1>Welcome to the browsing section, {{ session['logged_in'] }}! What would you like to see today?</h1>
	{% endif %}
{% endif %}
<h4>Here are all the give posts:</h4>
{% for give_post in give_post_objs %}
	<span><a href="/post/post_id/{{ give_post.post_id }}">{{ give_post.title }}</a></span><br>
{% endfor %}
<h4>Here are all the get posts:</h4>
{% for get_post in get_post_objs %}
	<span><a href="/post/post_id/{{ get_post.post_id }}">{{ get_post.title }}</a></span><br>
{% endfor %}
		
{% endblock %}