{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
	<h1>Welcome back, {{ session['logged_in'] }}!</h1>
	<h2>What are you interested in today?</h2>
	<form action="/user_interest">
		<input type="radio" name="user_interest" value="give">I have something to give<br>
		<input type="radio" name="user_interest" value="need">I need something<br>
		<input type="radio" name="user_interest" value="browse">I would like to browse<br>
		<input type="submit" value="Let's Go!">
	</form>
		
{% endblock %}