{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
	<h1>Welcome back, {{ session['logged_in'] }}!</h1>
	<p>You have made a total of {{ gives }} gives and {{ gets }} gets.<br>
	 <b>You have {{ gets_left }} more gets until it's your turn to give!</b>
	 </p>
	<h2>What are you interested in today?</h2>
	<form action="/user_interest">
		<button name="user_interest" type="submit" value="give">"I want to give something!"</button><br>
		<button name="user_interest" type="submit" value="get">"I want to get something!"</button><br>
	</form>
		
{% endblock %}