{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
	<h1>Welcome back, {{ session['logged_in'] }}!</h1>
	{% if gives %}
		<p>You have made a total of {{ gives }} gives and {{ gets }} gets.<br>
	 	<b>You have {{ 10 - gets }} more gets until it's your turn to give!</b>
	{% else %}
		<p>You have made a total of 0 gives and 0 gets.<br>
	 	<b>You have 10 more gets until it's your turn to give!</b>
	 	</p>
	 {% endif %}
	<h2>What are you interested in today?</h2>
	<form action="/user_interest">
		<button name="user_interest" type="submit" value="give">"I want to give something!"</button><br>
		<button name="user_interest" type="submit" value="get">"I want to get something!"</button><br>
	</form>
		
{% endblock %}