{% extends 'base.html' %}
{% block title %}User Messages Page{% endblock %}

{% block content %}
	<h3>Messages between <a>you</a> and <a style="color:#ff38ff" href="/user_profile/{{ user_messaged.username }}">{{ user_messaged.username }}</a>:</h3>
		<div id="messages">
			{% for message in message_thread %}
				<div id="ind-message" class="message">
					{{ message.message_body }} sent at {{ format_date(message.time_sent) }} by 
					{% if message.sender_id == user_messaged.user_id %}
						<i style="color:#ff38ff">{{ user_messaged.username }}</i>
					{% else %}
						<i style="color:#0ff5dc">you</i>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	<textarea id="message_body" rows=3 columns=100>
	</textarea><br>
		<button id="send_message" type="submit" value="get_request" data-recipient-id="{{ user_messaged.user_id }}">Send New Message</button>

	<script>
		function sendMessage() {
			var messageBody = $('#message_body').val();
			var recipientId = $(this).data('recipientId');
			var data = {message_body : messageBody,
						recipient_id : recipientId};
			console.log(messageBody);
			$('#message_body').val("")
			$.post("/save_message", data, function (results) {
				console.log(results);
				$('#messages').append("<div class='message' style='font-size: 22px;'>" + messageBody + " sent at " + results['results'] + " by " + "<i> you</i>" + "</div>");
			})
		}

		$('#send_message').on('click', sendMessage);
	</script>	
{% endblock %}