{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
	<h1>{{ compliment }}, {{ session['logged_in'] }}!</h1>
	<form>Please select the category(ies) that your giving post matches:<br>
		<input type="checkbox" name="category" value=1> Clothing<br>
		<input type="checkbox" name="category" value=2>Services<br>
		<input type="checkbox" name="category" value=3>Food<br>
		<input type="checkbox" value=4>Books<br>
		<input type="checkbox" value=5>Electronics<br>
		<input type="checkbox" value=6>Art supplies<br>
		<input type="checkbox" value=7>Miscellaneous<br>
		<button name="categories" type="button" id="give_categories">Item Categories</button>
	</form>
		
		
{% endblock %}